# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules/*
compile/*
compile/
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.env

cv/
cv/*
next-cv/*
next-cv/
package-lock.json
test/
package.local.json
npm.sh

@edvinas1122/notion-database-tool/
@edvinas1122/notion-database-tool/*
local_modules/
local_modules/*